// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

form ul li, .li-program {
    list-style: none;
    //margin-top: 10px;
}
// label {
//     margin-right: 10px;
//     width: 150px;
//     float: left;
// }
// #submit-button {
//     margin-top: 30px;
//     //margin-left: 600px;
// }